<title>{{title}}</title>

<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/global.css">
<link rel="stylesheet" href="/stylesheets/account.css">
<link rel="stylesheet" href="/stylesheets/admin.css">
<link rel="stylesheet" href="/stylesheets/index.css">

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>