<nav class="navbar navbar-static" role="navigation">
  <div class="container">

    <a class="navbar-brand" href="/">博客</a>

    <div class="navbar-right">
      <div class="navbar-right">
        {{#if user}}
           {{user.username}}
           <a href='/account/logout' class='btn btn-success'>注销</a>
        {{else}}
           <a class="btn" href="/account/login">登录</a>
           <a class="btn" href="/account/register">注册</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>