<html>
<head>
  {{>head}}
</head>
<body id="register">
{{>nav}}
<div class="center-wrapper">
  <div class="center text-center">
    <h3>欢迎来到{{ title }}</h3>
    </form>
  </div>
</div>

</body>
</html>
