<html>
<head>
  {{>head}}
</head>
<body id="register">

<div class="center-wrapper">
  <div class="center text-center">
    <h3>欢迎来到{{ title }}</h3>
        <a class="btn btn-success" href="/account/login">登录</a>
        <a class="btn btn-success" href="/account/register">注册</a>
    </form>
  </div>
</div>

</body>
</html>
