<html>
<head>
  {{>head}}
</head>
<body id="register">
{{>nav}}
<div class="center-wrapper">
  <div class="center text-center">
    <h3>欢迎来到{{ title }}</h3>
    <a href='/admin/post' class='btn btn-success'>创建</a>
    <a href='/admin/posts' class='btn btn-success'>归档</a>
    <a href='/admin/profile' class='btn btn-success'>设置</a>
    </form>
  </div>
</div>

</body>
</html>
