<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
  <script src="/javascripts/account.js"></script>
</head>
<body>
  
<div class="center-wrapper">
  <div class="center">
    <h3>账户登陆</h3>
    <form action="/account/login" method="post">
      <input name="username" type="text" class="form-control" placeholder="邮箱">
      <input name="password" type="password" class="form-control" placeholder="密码">
      <div class="alert alert-danger" style="display: none;"></div>
      <div class="alert alert-success" style="display: none;"></div>
      <div class="pull-right">
        <button class="btn btn-success">登录</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>