<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
</head>
<body>
  <a href='/admin/post' class='btn btn-success'>创建</a>
{{>nav}}
  <table class="table">
    <tbody>
      {{#each posts}}
        <tr>
          <td><a href="/post/{{id}}">{{title}}</a></td>
          <td>{{detailDate date}}</td>
          <td>
            <a class="btn btn-xs btn-primary">编辑</a>
            <a class="btn btn-xs btn-danger">删除</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>