<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>
{{>nav}}
  <form action="/admin/profile" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <img class="pull-left img-rounded" src="{{user.avatar}}" width="50" height="50">
      <div>
        <label for="avatar">头像</label>
        <input type="file" name="avatar">
        <p class="help-block">在这里选择并上传你的头像</p>
      </div>
    </div>

    <div class="form-group">
      <label for="title">日记名称</label>
      <input type="text" class="form-control" id="title" name="title" 
        placeholder="张三的日记" value="{{user.title}}">
    </div>

    <div class="form-group">
      <label for="description">日记描述</label>
      <input type="text" class="form-control" id="description" name="description" 
        placeholder="这是一个了不起的日记..." value="{{user.description}}">
    </div>
     
    <button class="btn btn-default">保存</button>
  </form>
  </body>